{% extends '../layouts/detail.html' %}
{% block header %}{{ object.level }} damages at "{{ object.address }}" - Beirut{% endblock %}
{% block details %}
<div>
    <h4>About</h4>
    {{ object.description }}
</div>
<div>
    <br>
    <h4>Needs</h4>
    {% include '../listviews/needsList.html' %}
    <h5>Add needs</h5>
    <form method="POST">
        <div class="row">
            {% include '../forms/needForm.html' %}
        </div>
    </form>
</div>
<div>
    <br>
    <h4>Contact information</h4>
    <p>
        {{ object.contact }}
    </p>
</div>
<div>
    <hr>
    <a href="{% url 'updateDamage' object.pk %}">Update</a> - <a href="{% url 'deleteDamage' object.pk %}" class="text-danger">Delete</a>
</div>
{% endblock %}