{% extends '../layouts/main.html' %}
{% load static %}
{% block content %}
<style>
  #legend {
        font-family: Arial, sans-serif;
        padding: 10px;
        margin: 5px 0;
        border: 3px solid #000;
      }
</style>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsdSifw0uEsgwuqe5cWh2FZZRhoYUg-6c&callback=initMap&libraries=&v=weekly"
  defer
></script>
<script src="static/assets/icons/icons.js"></script>
<script src="{% static './js/map.js' %}"></script>
<script>
  "use strict";

  function initMap() { 
    // Map object
    let map = createMap();
  
    // Fetching areas and adding shapes
    fetch('/areas')
      .then(response => response.json())
      .then(json => {
        let i;
        for (i = 0; i < json.length; i++) {
          addArea(json[i].lat, json[i].lng, json[i].radius);
        }
      })

    // Adding position
    fetch('/positions')
      .then(response => response.json())
      .then(json => {
        var markers = [];
        let i;
        for (i = 0; i < json.length; i++) {
          let marker = addMarker(json[i].lat, json[i].lng, map, json[i].kind);
          let content = `<h4>${json[i].name}</h4><div class="text-success">${json[i].kind} position</div><p>${json[i].description}</p><p>Phone: ${json[i].contact}<br>Uploaded by: ${json[i].user}</p><a href="${marker.url}" target="_blank">Google maps</a> - <a href="/position/${json[i].id}" target="_blank">View details</a></center></p>`;
          addInfoWindow(content, marker);
        }
        clusterMarkers(map, markers);
      })

    // Adding damged places
    fetch('/damages')
      .then(response => response.json())
      .then(json => {
        var markers = [];
        let i;
        for (i = 0; i < json.length; i++) {
          let marker = addMarker(json[i].lat, json[i].lng, map, 'damage');
          let content = `<h4 class="text-danger">${json[i].level} damaged place</h4><p>${json[i].description}</p><p>Phone: ${json[i].contact}<br>Uploaded by: ${json[i].user}</p><a href="${marker.url}" target="_blank">Google maps</a> - <a href="/damages/${json[i].id}" target="_blank">View details</a></center></p>`;
          markers.push(marker);
          addInfoWindow(content, marker);
        }
        clusterMarkers(map, markers);
      })

    // Adding legend
    addLegend('legend');
  };
</script>
<script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js">
</script>
<div style="height: 83.8vh; margin: auto -24px;">
  <div id="map" style="height: 100%;"></div>
</div>
<div id="legend"></div>

{% endblock %}