{% extends '../layouts/main.html' %}
{% load static %}
{% block content %}
<div>
    <!-- Header -->
    <h1 class="mt-4">Community Maps - Comming Soon</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">User specific maps</li>
    </ol>
    <div class="row mt-4" style="height: 400px;">
        <div class="col-lg-6 col-md-12">
            <div class="bg-dark" style="height: 100%;"></div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="bg-dark" style="height: 100%;"></div>
        </div>
    </div>
    <div class="row mt-4" style="height: 400px;">
        <div class="col-lg-6 col-md-12">
            <div class="bg-danger" style="height: 100%;"></div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="bg-danger" style="height: 100%;"></div>
        </div>
    </div>
    <div class="row mt-4" style="height: 400px;">
        <div class="col-lg-6 col-md-12">
            <div class="bg-dark" style="height: 100%;"></div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="bg-dark" style="height: 100%;"></div>
        </div>
    </div>
</div>
{% endblock %}