{% extends '../layouts/main.html' %}
{% load static %}
{% block content %}
<div>
    <center><h1>Comunity maps</h1></center>
    <div class="row mt-4" style="height: 400px;">
        <div class="col-lg-6 col-md-12">
            <div class="bg-dark" style="height: 100%;"></div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="bg-dark" style="height: 100%;"></div>
        </div>
    </div>
    <div class="row mt-4" style="height: 400px;">
        <div class="col-lg-6 col-md-12">
            <div class="bg-danger" style="height: 100%;"></div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="bg-danger" style="height: 100%;"></div>
        </div>
    </div>
    <div class="row mt-4" style="height: 400px;">
        <div class="col-lg-6 col-md-12">
            <div class="bg-dark" style="height: 100%;"></div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="bg-dark" style="height: 100%;"></div>
        </div>
    </div>
</div>
{% endblock %}