{% extends '../layouts/authentication.html' %}
{% block content %}
<div class="card shadow-lg border-0 rounded-lg my-5">
    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="small mb-1" for="inputUsername">Username</label>
                        <input name="username" class="form-control py-4" aria-describedby="emailHelp" placeholder="Enter username" value="{{ username }}" required/>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="small mb-1" for="inputEmailAddress">Email</label>
                        <input name="email" class="form-control py-4" id="inputEmailAddress" type="email" aria-describedby="emailHelp" placeholder="Enter email address" value="{{ email }}" required/>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="small mb-1" for="inputPassword">Password</label>
                        <input name="password" class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" required/>
                    </div>
                </div>
            </div>
            <div class="form-group mt-4 mb-0"><input type="submit" value="Create Account" class="btn btn-primary btn-block text-white"></div>
                {% for error_message in error_messages %}
                    <div class="alert alert-danger mt-4">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ error_message }}
                    </div>
                {% endfor %}
        </form>
    </div>
    <div class="card-footer text-center">
        <div class="small"><a href="{% url 'login' %}">Have an account? Login</a></div>
    </div>
</div>
{% endblock %}
