{% extends '../layouts/main.html' %}
{% block content %}
<div>
    <!-- Header -->
    <h1 class="mt-4">{% if title %}{{ title }}{% else %}Main Dashboard{% endif %}</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <!-- Cards -->
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Number of positions: {{ cards.positionsCount }}</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#Positions">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Positions in need: {{ cards.positionsInNeed }}</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#Positions">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Served positions: {{ cards.servedPositions }}</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#Positions">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Damaged houses in need: {{ cards.damagesCount }}</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#Damages">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Charts -->
    <!-- <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area mr-1"></i>
                    Submitted Volunteering positions chart
                </div>
                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar mr-1"></i>
                    Submitted Damaged homes and places chart
                </div>
                <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div> -->
    <!-- Tables -->
    <div class="card mb-4" id="Positions">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Volunteering positions Table
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Time</th>
                            <th>Position's name</th>
                            <th>Address</th>
                            <th>Type</th>
                            <th>Contact</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Time</th>
                            <th>Position's name</th>
                            <th>Address</th>
                            <th>Type</th>
                            <th>Contact</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for object in tables.positions %}
                            <tr>
                                <td><a href="{% url 'position' object.id %}">{{ object.id }}</a></td>
                                <td>{{ object.time }}</td>
                                <td><a href="{% url 'position' object.id %}">{{ object.name }}</a></td>
                                <td>{{ object.address }}</td>
                                <td>{{ object.kind }}</td>
                                <td>{{ object.contact }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card mb-4" id="Damages">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Damaged places Table
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Time</th>
                            <th>Damage's level</th>
                            <th>Address</th>
                            <th>Contact</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Time</th>
                            <th>Damage's level</th>
                            <th>Address</th>
                            <th>Contact</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for object in tables.damages %}
                            <tr>
                                <td><a href="{% url 'damage' object.id %}">DMG{{ object.id }}</a></td>
                                <td>{{ object.time }}</td>
                                <td>{{ object.level }}</td>
                                <td>{{ object.address }}</td>
                                <td>{{ object.contact }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Needs Table
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable3" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Position in need</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Time</th>
                            <th>Stauts</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Position in need</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Time</th>
                            <th>Stauts</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for object in tables.needs %}
                            <tr>
                                <td><a href="{% url 'position' object.id %}">Position #{{ object.inNeed }}</a></td>
                                <td>{{ object.kind }}</td>
                                <td>{{ object.description }}</td>
                                <td>{{ object.time }}</td>
                                {% if object.status %}
                                    <td>Not fulfilled</td>
                                {% else %}
                                    <td>Fulfilled</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
