{% extends './main.html' %}
{% block content %}
<div class="mt-4">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <h4>{% block formTitle %}{% endblock %}</h4>
            <form method="POST" action="">
            {% csrf_token %}
            <ul>
                <li>Deleted items can not be retreived</li>
                <li>Deleting an item deletes its needs</li>
                <li style="list-style: none;"><input type="submit" class="btn btn-danger mt-3" value="Delete"></li>
            </ul>
        </div>
        {% block help %}{% endblock %}
    </form>
    </div>
</div>
{% endblock %}