{% extends './main.html' %}
{% block content %}
<div class="mt-4">
    <div class="row">
        {% block help %}{% endblock %}
        <div class="col-lg-4 col-sm-6 col-12">
            <div id="formSpace"></div>
            <h2>{% block formTitle %}{% endblock %}</h2>
            <form method="POST" action="">
                {% csrf_token %}
                <p>
                    {% for field in form %}
                        {{ field.label }}:
                        <br>
                        {{ field }}
                        <br>
                    {% endfor %}
                </p>
                <p>
                    <input type="submit" class="btn btn-primary">
                </p>
            </form>
        </div>
    </form>
    </div>
    <script type="application/javascript">
        setInterval(function () {
            var formSpace = document.getElementById('formSpace');

                if (window.innerWidth < 576 && formSpace.innerHTML == '') {
                    let i;
                    for (i=0; i<5; i++) {
                        formSpace.innerHTML += '<br>'
                    }
                }
                else if (window.innerWidth > 576) {
                    formSpace.innerHTML = ''
                }
        }, 500)
        
    </script>
</div>
{% endblock %}